body {
    background-color: hsl(0, 0%, 8%); 
    font-family: "Inter", sans-serif;
    color:hsl(0, 0%, 100%)
}

.attribution { 
    font-size: 11px; 
    text-align: center
}
    
.attribution a {
    color: hsl(228, 45%, 44%)
}

h2 {
    margin-bottom: 6px;
}

.uk_text {
    color:hsl(75, 94%, 57%); 
    font-weight: 600; 
    margin-top: 2px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.main_div {
    width: 50%; 
    max-width: 400px; 
    min-width: 350px; 
    margin: auto; 
    text-align: center; 
    align-items: center; 
    background-color: hsl(0, 0%, 12%); 
    top: 50%;
    margin-top:3%; 
    height: 50%; 
    border-radius: 3%; 
    padding-bottom: 20px;
    margin-bottom: 3%
}

button {
    display: block; 
    width: 80%; 
    height: 3.5em; 
    margin: auto;
    margin-bottom: 1em; 
    background-color: hsl(0, 0%, 20%); 
    border-color: hsl(0, 0%, 20%);
    box-shadow: none;
    border-style: none;
    border-radius:5px; 
    color: hsl(0, 0%, 100%);
    transition: 0.44s
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    transition: 0.2s;
}

button:active{
    background-color: hsl(75, 100%, 32%);
}

.button_div {
    margin-top: 2em; 
}
    
img {
    clip-path: circle(); 
    width: 5em
}
    
.header_div {
    padding-top: 2em
}

